body{
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1538370965046-79c0d6907d47?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z2FsYXh5JTIwd2FsbHBhcGVyfGVufDB8fDB8fHww);
  transition: background-color 0.3s;
}
html{
  scroll-behavior: smooth;
}
section{
  scroll-margin-top: 100px;
}
.main-body{
  transition: background-color 0.3s;
}
body.dark-mode .main-body{
  background-color: rgb(28, 28, 28);
  color:white;
  border-color: rgb(28,28,28);
}
body.dark-mode .modo-oscuro{
  background-color: rgb(28, 28, 28);
  color: white;
  border-color: rgb(28, 28, 28)
}
body.dark-mode .modo-oscuro:hover{
  background-color: white;
  color: rgb(28, 28, 28);
  border-color: white;
}